


<div ng-controller="DrawerController">

	<button class="button button-full bkgd" onclick="closeDrawer('select-class')"><img align="left"  src="/img/polygon.svg"><span class="caption1">Select Class</span></button>
	 
	<button class="button button-full button-assertive" onclick="closeDrawer('calendar')"><img align="left"  src="/img/polygon.svg">Calendar</button>
	
	<!-- use <super-navigate> anywhere to navigate to other pages, but it will be another view on top of the view stack-->
	
	
    <!-- display classes -->
	<div class="padding list">
		<!-- filter:"advanced" will match all items that have the string advanced -->
		<!-- filter:{} will match  -->
	
		<div ng-repeat="course in courses">
			<div class="item item-divider RegCourseBkgd" ng-click="toggleCourse(course)" ng-class="{active: isGroupShown(course)}" ng-if="isCourseRegistered(course) === true">
	    		<i class="icon" ng-class="isGroupShown(course) ? 'super-arrow-down-b' : 'super-arrow-right-b'"></i>
	    		&nbsp;
	    		<span class="coursefont">{{course.SIS_COURSE_ID}} {{course.TITLE}}</span>
		  	</div>
		  	<div class="item item-divider UnRegCourseBkgd" ng-click="toggleCourse(course)" ng-class="{active: isGroupShown(course)}" ng-if="isCourseRegistered(course) !== true">
	    		<i class="icon" ng-class="isGroupShown(course) ? 'super-arrow-down-b' : 'super-arrow-right-b'"></i>
	    		&nbsp;
	    		<span class="coursefont">{{course.SIS_COURSE_ID}} {{course.TITLE}}</span>
		  	</div>
		  	<!-- TODO onclick => add to drawer -->
		  	<div ng-repeat="section in course.sections" ng-show="isGroupShown(course)">
                <a class="selectEach item" ng-class="section.isScheduled ? 'scheduledBar' : 'unscheduledBar'" ng-click="setScheduled(course, section)">
                    {{section.TYPE}} {{section.BEGIN_TIME}}-{{section.END_TIME}} {{section.DAY}}
                </a>
		  	</div>
  		</div>
  		
  		
	</div>

<!--	<button class="button button-full button-assertive" onclick="getJson()">Get Json</button>-->
	
</div>
