


<div ng-controller="DrawerController">
	<button class="button button-full button-assertive" onclick="closeDrawer('select-class')">Select Class</button>
	<button class="button button-full button-assertive" onclick="closeDrawer('calendar')">Calendar</button>
	
	<!-- use <super-navigate> anywhere to navigate to other pages, but it will be another view on top of the view stack-->
	
	
    <!-- display classes -->
	<div class="padding list">
		<!-- filter:"advanced" will match all items that have the string advanced -->
		<!-- filter:{} will match  -->
	
		<div ng-repeat="course in courses">
			<div class="item item-divider" ng-click="toggleCourse(course)" ng-class="{active: isGroupShown(course)}" ng-if="isCourseRegistered(course) === true">
	    		<i class="icon" ng-class="isGroupShown(course) ? 'super-arrow-down-b' : 'super-arrow-right-b'"></i>
	    		&nbsp;
	    		{{course.SIS_COURSE_ID}} {{course.TITLE}}
		  	</div>
		  	<div class="item item-divider" ng-click="toggleCourse(course)" ng-class="{active: isGroupShown(course)}" ng-if="isCourseRegistered(course) !== true">
	    		<i class="icon" ng-class="isGroupShown(course) ? 'super-arrow-down-b' : 'super-arrow-right-b'"></i>
	    		&nbsp;
	    		{{course.SIS_COURSE_ID}} {{course.TITLE}}
		  	</div>
		  	<!-- TODO onclick => add to drawer -->
		  	<div ng-repeat="section in course.sections" ng-show="isGroupShown(course)">
                <div ng-if="isSectionRegistered(course) === true">
		  		{{section.TYPE}} {{section.BEGIN_TIME}}-{{section.END_TIME}} {{section.DAY}}
                </div>
                <div ng-if="isSectionRegistered(course) !== true">
		  		{{section.TYPE}} {{section.BEGIN_TIME}}-{{section.END_TIME}} {{section.DAY}}
                </div>
		  	</div>
  		</div>
  		
  		
	</div>

<!--	<button class="button button-full button-assertive" onclick="getJson()">Get Json</button>-->
	
</div>
