
.supersonic-navbar-mock {
  background-color: #00B5FF !important;
  text-align: center;
  font-weight: 600;
}


.aTest {
	
	
}

.courseCode {
	color: #991B1E;
}
.courseTitle {
	color: black;
}


.inlineDisplay {
	display: inline-block;
	width:50%;
}

.inlineDisplayRight {
	float: right;
	width: 50%;
}


.sectionDiv {
	margin-right: 1%;
    margin-left: 1%;
}

.selectEach {
	position: relative;
    border-style: solid;
    border-color: #EEC9B7;
    margin-bottom: 2px;
    /* background: linear-gradient(to right, #EEC9B7 70%, #FFF 30%); */
 
}



.selectEach  span { 
	width:50%; 
	display:inline-block; 
}
.selectEach span.align-right {
	text-align:right; 
}
    
.selectEach img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 5%;
}

