.supersonic-navbar-mock {
  background-color: #00B5FF !important;
  text-align: center;
  font-weight: 600;
}


.aTest {
	background: #0f0;
	
}


.inlineDisplay {
	display: inline-block;
	width:50%;
}

.inlineDisplayRight {
	float: right;
	width: 50%;
}