    

.calendarView {
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 1px; /* must have left and right padding. otherwide drawer will not show. */
	background-color: #E2E2E0;
	
	overflow:hidden;
	position:relative;
	
}


.fc-event {
	position: absolute;
	z-index: 3;
}

#regArea, #delArea, #bacArea {
	background: yellow;
	position:absolute;
	z-index: 2;
	opacity: 0.5;
	display: none;
	-webkit-border-radius: 5em;
	border-radius: 5em;
}

#regArea img, #delArea img, #bacArea img {
	position:absolute;
}


/*
 * When user starts dragging calendar events.
 */
.areaActive{
	background-color:yellow;
	-webkit-border-radius: 30px;
    border-radius: 30px;
}

/*
 * When user drags the events inside the activation area
 */
.areaHover {
	background-color: red;
}


.calButton {
	display: inline-block;
	width:20%;
}

.calButtonRight {
	float: right;
	width: 20%;
}


.myDroppable {
width: 150px;
height: 150px;
padding: 0.5em;
float: left;
margin: 10px;
}

.ui-widget-header {
border: 1px solid #e78f08;
background: #f6a828;
color: #fff;
font-weight: bold;
}


.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
border: 1px solid #fed22f;
background: #ffe45c;
color: #363636;
}

.ui-widget-content {
border: 1px solid #ddd;
background: #eee;
color: #333;
}



