.fc-unthemed th, .fc-unthemed td, .fc-unthemed thead, .fc-unthemed tbody, .fc-unthemed .fc-divider, .fc-unthemed .fc-row, .fc-unthemed .fc-popover {
	border-color: #D71B1B;
}

.calendarView {
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 1px; /* must have left and right padding. otherwide drawer will not show. */
	background-color: #E2E2E0;
	
	overflow:hidden;
	position:relative;
}



.fc-event {
	position: absolute;
	z-index: 3;
}

#regArea, #delArea, #bacArea {
	position:absolute;
	z-index: 2;
	opacity: 0.3;
	display: none;
	-webkit-border-radius: 5em;
	border-radius: 5em;
}

#regArea img, #delArea img, #bacArea img {
	position:absolute;
}


/*
 * When user drags the events inside the activation area
 */
.areaHover {
	background-color: red;
}

.calButton {
	padding: 5px 0px 0px 0px;
	display: inline-block;
}

.calButton img {
	width: 66%;
	background-color: #E2E2E0;
}
.calButtonRight {
	padding: 0px 0px 0px 0px;
	float: right;
}


.myDroppable {
width: 150px;
height: 150px;
padding: 0.5em;
float: left;
margin: 10px;
}

.ui-widget-header {
border: 1px solid #e78f08;
background: #f6a828;
color: #fff;
font-weight: bold;
}


.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
border: 1px solid #fed22f;
background: #ffe45c;
color: #363636;
}

.ui-widget-content {
border: 1px solid #D71B1B;
background: #eee;
color: #333;
}



