<!-- Donglin: we dont need a nav bar on top -->


<div class="padding calendarView" ng-controller="CalendarController">
    <img style="position: absolute; margin-top: 10px; margin-left: 20px" src="/img/3bar.svg"/>
    <img style="float: right; margin-right: 50px" src="/img/credit.svg"/>
    
   <button ng-click="addClass()">add class</button>
   
   
    <div class="myDraggable ui-widget-content ui-draggable" style="position: relative;">
        <p>Drag me around</p>
      </div>
      <script></script>
      
      
      <div id="droppable" class="ui-widget-header ui-droppable">
        <p>Drop here</p>
      </div>
      <script>
        $( "#droppable" ).droppable({
          drop: function( event, ui ) {
            $( this )
              .addClass( "ui-state-highlight" )
              .find( "p" )
                .html( "Dropped!" );
          }
        });
      </script>
      
      
    <div id="calendar"></div>
    <!-- <div ui-calendar="uiConfig.calendar" class="padding calendar" ng-model="eventSources"></div>  -->
    <!-- <div ui-calendar ng-model="eventSources"></div> -->
    <!-- <div ui-calendar="uiConfig.calendar" class="calendar" ng-model="eventSources"></div> -->
</div>




