<!-- Donglin: we dont need a nav bar on top -->
<div class="padding calendarView" ng-controller="CalendarController">
	<div id="calNav">
		<!-- 
		<img style="float: right; margin-right: 50px" src="/img/credit.svg"/> -->
		<a class="calButton" onclick="supersonic.ui.drawers.open()">
	      <img src="/img/3bar.svg"/>
	    </a>
		
		<!-- Select Time -->
		<!-- <a class="calButtonRight" ng-click="navigate('select-hours')">
	      <img src="/img/credits.png"/>
		</a> -->
	</div>
	
	<!-- three buttons floating on the calendar -->
	<!-- Register button -->
	<span id="regArea"><img src="/img/Register.png"><p></p></span>
	<span id="delArea"><img src="/img/bin.png"><p></p></span>
	<span id="bacArea"><img src="/img/unschedule.png"><p></p></span>
	
	
    <div id="calendar"></div>
</div>




