


<div ng-controller="DrawerController">
	<button class="button button-full button-assertive" onclick="closeDrawer('select-class')">Select Class</button>
	<button class="button button-full button-assertive" onclick="closeDrawer('calendar')">Calendar</button>
	
	<!-- use <super-navigate> anywhere to navigate to other pages, but it will be another view on top of the view stack-->
	
	
	
	<!-- read: http://docs.appgyver.com/supersonic/guides/ui/components/#list-icons -->
	<ul class="list">
		<!-- Use the super-navigate tag to navigate -->
		<li class="item classes">CSCI570</li>
		<li class="item classes">CSCI585</li>
		<li class="item classes">CSCI577a</li>
	</ul>
	<button class="button button-full button-assertive" onclick="getJson()">Get Json</button>
	
</div>
