<!-- Donglin: we dont need a navbar on top. -->

<!-- read more on: http://docs.appgyver.com/supersonic/guides/ui/components/#forms -->
<form class="bar bar-header item-input-inset">
	<label class="item-input-wrapper">
		<input type="search" name="search" id="search" placeholder="Search by Class Code">
		<i class="icon super-ios7-search placeholder-icon"></i>
	</label>
</form>

<div class="padding" ng-controller="SelectClassController">
	<div class="list">
	
	
		<!-- Select School First -->
		<label class="item item-input item-select">
			<div class="input-label">School</div>
			<!-- Having ng-model set to null will create an empty select entry. -->
			<!-- TODO bug: first loaded the select bar, when pick the school, it will show the school next to the one selected. -->
			<select 
				ng-model="selectedSchool" 
				ng-options="school as school.value for school in schools"					
				ng-change="changeSchool()">
            </select>
		</label>	
		
		
		<!-- Select Department Here -->
		<label class="item item-input item-select">
			<div class="input-label">Department</div>
    
			<select 
				ng-model="selectedDept" 
				ng-options="dept as dept.code + ' - ' + dept.value for dept in departments"					
				ng-change="changeDept()">
            </select>
		</label>	
		
		
		<!-- Select Days: Monday, Tuesday,  -->
		<a class="item item-icon-right inlineDisplay" ng-click="navigate('select-days')">
	      Select Days
	      <i class="icon icon-accessory super-chevron-right"></i>
	    </a>
		
		<!-- Select Time -->
		<a class="item item-icon-right inlineDisplayRight" ng-click="navigate('select-hours')">
			Select Time
			<i class="icon icon-accessory super-chevron-right"></i>
		</a>
	
		<!-- Select Code -->
		
		<a class="item item-icon-right inlineDisplay" ng-click="navigate('select-levels')">
			Select Code
			<i class="icon icon-accessory super-chevron-right"></i>
		</a>
		
		
		<!-- Select Unit -->
		<a class="item item-icon-right inlineDisplayRight" ng-click="navigate('select-units')">
			Select Units
			<i class="icon icon-accessory super-chevron-right"></i>
		</a>
			
	</div>
	
	
	
	
	<!-- display classes -->
	<div class="list">
		<!-- filter:"advanced" will match all items that have the string advanced -->
		<!-- filter:{} will match  -->
	
		<div ng-repeat="course in courses | filter:isCourseEnabled">
			<div class="item item-divider" ng-click="toggleCourse(course)" ng-class="{'expandactive': isGroupShown(course)}">
	    		<i class="icon" ng-class="isGroupShown(course) ? 'super-arrow-down-b' : 'super-arrow-right-b'"></i>
	    		&nbsp;
	    		{{course.SIS_COURSE_ID}} {{course.TITLE}}
		  	</div>
		  	
		  	<!-- TODO onclick => add to drawer -->
		  	<div class="sectionDiv" ng-repeat="section in course.sections | filter:isSectionEnabled" ng-show="isGroupShown(course)" >
		  		
		  		<!-- <a class="item" ng-click="addCourse(course, section)" ng-switch="section.DAY">{{section.BEGIN_TIME}} - {{section.END_TIME}} DAY: {{}}</a>
		  		 -->
		  		 <!-- TODO Type Lab!!! -->
		  		<a class="selectEach item" ng-click="addCourse(course, section, $event)"><img class="sectionType" src="/img/Lecture.png"><span>{{section.BEGIN_TIME}} - {{section.END_TIME}}</span><span class="align-right">{{section.DAY}}</span></a>
		  	</div>
  		</div> 
  		<span id="flyout"><img src="/img/trojan.png"></span>
  		
  		<!-- fake -->
  		<div><!-- course -->
  			<div class="item item-divider" >
  				<i class="icon" ng-class="super-arrow-down-b"></i>
	    		&nbsp;
	    		CMGT-501 Communication Management...
  			</div>
  			
		  	<div class="sectionDiv"  >
		  		<a class="selectEach item" ><img class="sectionType" src="/img/D.svg"><span>19:00 - 20:00</span><span class="align-right">Monday</span></a>
		  	</div>
  			
  		</div>
  		<div><!-- course -->
  			<div class="item item-divider" >
  				<i class="icon" ng-class="super-arrow-down-b"></i>
	    		&nbsp;
	    		CMGT-502 Algorigthms etc...
  			</div>
  			
  			<!-- sections -->
		  	<div class="sectionDiv"  >
		  		<a class="selectEach item" ><img class="sectionType" src="/img/3bar.svg">09:00 - 12:00 Tuesday</a>
		  	</div>
		  	
		   	<div class="sectionDiv"  >
		  		<a class="selectEach item" ><img class="sectionType" src="/img/D.png">12:00 - 14:00 Tuesday</a>
		  	</div>
  			
  		</div>
  		
	</div>
	

</div>

